* {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    /*font-size: 12pt;*/
    color: #343a40;
}

body {
    margin: 0px;
}

.reclaim-checkbox input[type="checkbox"],
.reclaim-checkbox .checked {
    display: none;
}

.reclaim-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}

.reclaim-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.title {
  text-align: center;
  background: #333;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.title span {
  font-size: 1.5em;
  color: #fff;
}

.title .logo {
  width: 2em;
}

.reclaim-logo {
  width: 8em;
}

.separator {
  width: auto;
  height: 1px;
  background-color: #eee;
  margin: 1em;
}

.settings-icon {
  float: right;
  text-align: center;
  padding: 0.5em;
  font-size: 1.5em;
}
.settings-icon i {
  color: #555;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  padding-bottom: 0em;
  text-align: center;
}

.content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.content table tr {
  font-size: 1.5em;
  border: solid;
  border-color: #eee;
  border-width: 1px 0;
}

.content span.reclaim-label {
  font-size: 1.5em;
}

.content th,td {
  text-align: center;
  padding: 1em;
}

.reclaim-link {
  text-align:center;
}

.warning {
  text-align: center;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
}

.warning .fas {
  color: #ff9999;
}

a:link, a:visited {
    color: #343a40;
    text-decoration: none;
}

a:hover {
    color: #333;
}

#blocked-hosts {
    display: block;
    margin-top: 1em;
}
